@model JanuszMarcinik.Mvc.WebUI.Areas.Account.Models.Users.UserViewModel

@{
    ViewBag.Title = "Edycja użytkownika";
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form().Upload()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="col-sm-6">
                    @form.FormGroup().TextBoxFor(x => x.UserName)
                    @form.FormGroup().TextBoxFor(x => x.Email)
                </div>
                <div class="col-sm-6">
                    <h3 class="center-block">
                        <span class="label label-info center-block">Przypisane role:</span>
                    </h3>
                    @(Html.Bootstrap().CheckBoxListFor(m => m.SelectedRoles, m => m.AllRoles, role => role.Value, role => role.Text).SelectedValues(x => x.Selected))
                </div>
            </div>
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitSaveButton()
                @Html.Bootstrap().BackButton(MVC.Account.Users.List())
            </div>
        }
    }
}