@model JanuszMarcinik.Mvc.Domain.Application.Entities.League

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>League</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamsCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeagueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
