@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.MatchDays;
@model MatchDayViewModel

@{
    ViewBag.Title = "Potwierdź usunięcie kolejki";
}

<h2 class="center-block">
    <span class="label label-danger center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.LeagueId)
            @Html.HiddenFor(x => x.SeasonId)
            @Html.HiddenFor(x => x.MatchDayId)

            @form.FormGroup().TextBoxFor(x => x.Number).Readonly(true)
            @form.FormGroup().TextBoxFor(x => x.Round).Readonly(true).Value(Model.Round.GetDescription())
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitDeleteButton()
                @Html.Bootstrap().BackButton(MVC.Admin.MatchDays.List(Model.SeasonId, Model.LeagueId))
            </div>
        }
    }
}