@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Dictionaries;
@model DictionaryViewModel

@{
    ViewBag.Title = "Usuwanie słownika";
}

<h2 class="center-block">
    <span class="label label-danger center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.BaseDictionaryId)

            @form.FormGroup().DropDownListFromEnumFor(x => x.DictionaryType).Readonly(true)
            @form.FormGroup().TextBoxFor(x => x.Value).Readonly(true)
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitDeleteButton()
                @Html.Bootstrap().BackButton(MVC.Admin.Dictionaries.List())
            </div>
        }
    }
}