@model JanuszMarcinik.Mvc.Domain.Application.DataSource.GridModel

@{
    ViewBag.Title = Model.Title;
}

<h2 class="center-block">
    <span class="label label-primary center-block">@ViewBag.Title</span>
</h2>

@using (var panel = Html.Bootstrap().Begin(new Panel()))
{
    using (panel.BeginBody())
    {
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr class="active">
                    @foreach (var prop in Model.Properties)
                    {
                        if (!string.IsNullOrEmpty(prop.DisplayName))
                        {
                            <th class="text-center">@prop.DisplayName</th>
                        }
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var row in Model.Data)
                {
                    <tr>
                        @foreach (var item in row.Values)
                        {
                            if (item.IsImage)
                            {
                                <td>
                                    <img class="img-responsive center-block" height="32" width="32" src="~/Images/@item.Value" />
                                </td>
                            }
                            else
                            {
                                <td>@item.Value</td>
                            }
                        }

                        <td>
                            <div class="btn-group">
                                @if (!string.IsNullOrEmpty(row.ListText))
                                {
                                    @Html.Bootstrap().ListButton(row.ListText, row.ListAction)
                                }
                                @Html.Bootstrap().EditButton(row.EditAction)
                                @Html.Bootstrap().DeleteButton(row.DeleteAction)
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    using (panel.BeginFooter())
    {
        <div class="btn-group">
            @Html.Bootstrap().AddButton(Model.AddAction)
            @Html.Bootstrap().BackButton(Model.BackAction)
        </div>
    }
}