@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Teams;
@model TeamViewModel

@{
    ViewBag.Title = "Edycja drużyny";
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.LeagueId)
            @Html.HiddenFor(x => x.TeamId)

            @form.FormGroup().TextBoxFor(x => x.DisplayedName)
            @form.FormGroup().TextBoxFor(x => x.Name)
            @form.FormGroup().TextBoxFor(x => x.City)
            @form.FormGroup().TextBoxFor(x => x.Acronym)

        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitSaveButton()
                @Html.Bootstrap().BackButton(MVC.Admin.Teams.List(Model.LeagueId))
            </div>
        }
    }
}