@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Leagues;
@model LeagueViewModel

@{
    ViewBag.Title = "Usuwanie";
}

<h3>@ViewBag.Title</h3>
<h4>Czy na pewno chcesz usunąć ligę?</h4>
<hr />

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.LeagueId)

    @form.FormGroup().TextBoxFor(x => x.Name).Readonly(true)
    @form.FormGroup().TextBoxFor(x => x.Country).Readonly(true)
    @form.FormGroup().TextBoxFor(x => x.DescriptionName).Readonly(true)

    <div class="btn-group">
        @Html.Bootstrap().BackButton(MVC.Admin.Leagues.Index())
        @Html.Bootstrap().SubmitDeleteButton()
    </div>
}