@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Questionnaires;
@model QuestionnaireViewModel

@{
    ViewBag.Title = "Usuwanie ankiety";
}

<h2 class="center-block">
    <span class="label label-danger center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.QuestionnaireId)

            <div class="col-sm-6">
                @form.FormGroup().TextBoxFor(x => x.OrderNumber).Readonly(true)
                @form.FormGroup().TextBoxFor(x => x.Name).Readonly(true)
                @form.FormGroup().CheckBoxFor(x => x.Active).Readonly(true)
                @form.FormGroup().CheckBoxFor(x => x.EditDisable).Readonly(true)
            </div>
            <div class="col-sm-6">
                @form.FormGroup().TextAreaFor(x => x.Description).Rows(4).Readonly(true)
            </div>
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitDeleteButton()
                @Html.Bootstrap().BackButton(MVC.Admin.Questionnaires.List())
            </div>
        }
    }
}