@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Questionnaires;
@model QuestionnaireViewModel

@{
    ViewBag.Title = "Edycja ankiety";
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.QuestionnaireId)

            <div class="row">
                <div class="col-sm-6">
                    @form.FormGroup().EditorFor(x => x.OrderNumber)
                    @form.FormGroup().TextBoxFor(x => x.Name)
                    @form.FormGroup().CheckBoxFor(x => x.Active)
                    @form.FormGroup().CheckBoxFor(x => x.EditDisable)
                </div>
            </div>
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitSaveButton()
                @Html.Bootstrap().BackButton(MVC.Admin.Questionnaires.List())
            </div>
        }
    }
}