@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Answers;
@model AnswerViewModel

@{
    ViewBag.Title = "Usuwanie odpowiedzi";
}

<h2 class="center-block">
    <span class="label label-danger center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.QuestionId)
            @Html.HiddenFor(x => x.AnswerId)

            @form.FormGroup().TextBoxFor(x => x.OrderNumber).Readonly(true)
            @form.FormGroup().TextBoxFor(x => x.Text).Readonly(true)
            @form.FormGroup().TextBoxFor(x => x.Description).Readonly(true)
            @form.FormGroup().TextBoxFor(x => x.Value).Readonly(true)
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitDeleteButton()
                @Html.Bootstrap().BackButton(MVC.Admin.Answers.List(Model.QuestionId))
            </div>
        }
    }
}