@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Answers;
@model AnswerViewModel

@{
    ViewBag.Title = "Edycja odpowiedzi";
}

<h2 class="center-block">
    <span class="label label-warning center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AnswerId)
            @Html.HiddenFor(x => x.QuestionId)

            <div class="row">
                <div class="col-sm-6">
                    @form.FormGroup().EditorFor(x => x.OrderNumber)
                    @form.FormGroup().EditorFor(x => x.Value)
                    @form.FormGroup().TextBoxFor(x => x.Description)
                </div>
            </div>
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitSaveButton()
                @Html.Bootstrap().BackButton(MVC.Admin.Answers.List(Model.QuestionId))
            </div>
        }
    }
}