@{
    ViewBag.Title = "Herbaciana fontanna dla Marty";
}

<br /><br />

<audio autoplay="autoplay" loop="">
    <source src="~/Music/akurat.mp3" type="audio/mp3">
</audio>

<div class="container">
    <div class="embed-responsive embed-responsive-16by9">
        <video id="videoHerbatka" loop="" class="embed-responsive-item">
            <source src="http://januszmarcinik.pl/herbatka.mp4" type="video/mp4">
        </video>
        <video id="videoFontanna" loop="" hidden="" class="embed-responsive-item">
            <source src="http://januszmarcinik.pl/fontanna.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="container text-center">
    @if (Request.Browser.IsMobileDevice)
    {
        @Html.Bootstrap().Button().Id("btnPlay").Style(ButtonStyle.Success).Text("Włącz fontannę").Class("btn-block")
        @Html.Bootstrap().Button().Id("btnPause").Style(ButtonStyle.Danger).Text("Zatrzymaj fontannę").Class("btn-block")
        @Html.Bootstrap().Button().Id("btnClean").Style(ButtonStyle.Primary).Text("Posprzątaj").Class("btn-block")
    }
    else
    {
        <div class="btn-group-justified btn-group-lg">
            @Html.Bootstrap().Button().Id("btnPlay").Style(ButtonStyle.Success).Text("Włącz fontannę")
            @Html.Bootstrap().Button().Id("btnPause").Style(ButtonStyle.Danger).Text("Zatrzymaj fontannę")
            @Html.Bootstrap().Button().Id("btnClean").Style(ButtonStyle.Primary).Text("Posprzątaj")
        </div>
    }
</div>

<br /><br />

<div class="hidden-xs">
    <h1 class="text-center">
        <span class="label label-warning">Dla Marty - Intrygującej koleżanki z zepsutego autobusu :)</span>
    </h1>
</div>
<div class="visible-xs">
    <h2 class="text-center">
        <span class="label label-warning">Dla Marty</span> <br />
        <span class="label label-warning">Intrygującej koleżanki</span><br />
        <span class="label label-warning">z zepsutego autobusu :)</span>
    </h2>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var herbatka = document.getElementById("videoHerbatka");
        herbatka.play();
        var fontanna = document.getElementById("videoFontanna");
        fontanna.play();
    });

    $('#btnPlay').click(function () {
        var herbatka = document.getElementById("videoHerbatka");
        herbatka.pause();
        $('#videoHerbatka').hide();

        $('#videoFontanna').show();
        var fontanna = document.getElementById("videoFontanna");
        fontanna.volume = 0;
        fontanna.play();
    });

    $('#btnPause').click(function () {
        var fontanna = document.getElementById("videoFontanna");
        fontanna.pause();
    });

    $('#btnClean').click(function () {
        var fontanna = document.getElementById("videoFontanna");
        fontanna.pause();
        $('#videoFontanna').hide();

        $('#videoHerbatka').show();
        var herbatka = document.getElementById("videoHerbatka");
        herbatka.volume = 0;
        herbatka.play();
    });

</script>