@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.TimeCounters
@model List<TimeCounterViewModel>

@{
    ViewBag.Title = "Odliczamy czas";
}

<div class="container">
    @foreach (var counter in Model)
    {
        <div class="row">
            <div class="visible-xs">
                <h4>
                    <span>@counter.Name</span> <br />
                    <span>@counter.Date.ToString("yyyy-MM-dd HH:mm")</span>
                </h4>
            </div>
            <div class="hidden-xs">
                <h3>
                    <span>@counter.Name</span>
                    <span class="pull-right">@counter.Date.ToString("yyyy-MM-dd HH:mm")</span>
                </h3>
            </div>
            
            <hr />

            <div class="bs-callout bs-callout-info text-center" style="font-size: xx-large">
                <div class="row">
                    <div class="col-xs-3" id="@(string.Format("Days{0}", counter.Id))"></div>
                    <div class="col-xs-3" id="@(string.Format("Hours{0}", counter.Id))"></div>
                    <div class="col-xs-3" id="@(string.Format("Minutes{0}", counter.Id))"></div>
                    <div class="col-xs-3" id="@(string.Format("Seconds{0}", counter.Id))"></div>
                </div>
                <div class="row">
                    <div class="visible-xs">
                        <div class="col-xs-3">d</div>
                        <div class="col-xs-3">g</div>
                        <div class="col-xs-3">m</div>
                        <div class="col-xs-3">s</div>
                    </div>
                    <div class="hidden-xs">
                        <div class="col-xs-3">dni</div>
                        <div class="col-xs-3">godziny</div>
                        <div class="col-xs-3">minuty</div>
                        <div class="col-xs-3">sekundy</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    var idArray = [];
    var datesArray = [];

    $(document).ready(function () {

        @foreach (var item in Model)
        {
            @:idArray.push("@item.Id");
            @:datesArray.push("@item.Miliseconds");
        }

    });

    setInterval(function () {

        var now = new Date().getTime();
        var distance = 0;

        for (i = 0; i < idArray.length; i++) {
            distance = datesArray[i] - now;

            $('#Days' + idArray[i]).html(Math.floor(distance / (1000 * 60 * 60 * 24)));
            $('#Hours' + idArray[i]).html(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
            $('#Minutes' + idArray[i]).html(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
            $('#Seconds' + idArray[i]).html(Math.floor((distance % (1000 * 60)) / 1000));
        }

    }, 1000);

</script>