@model JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Survey.IntervieweeViewModel

@{
    ViewBag.Title = "Informacje podstawowe";
}

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    @Html.AntiForgeryToken()

    <br />

    using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
    {
        @panel.Heading("Informacje podstawowe")

        using (panel.BeginBody())
        {
            <div class="col-sm-4">
                @form.FormGroup().DropDownListFor(x => x.SexId, Model.Sexes).OptionLabel("Wybierz")
            </div>
            <div class="col-sm-4">
                @form.FormGroup().DropDownListFor(x => x.SeniorityId, Model.Seniorities).OptionLabel("Wybierz")
            </div>
            <div class="col-sm-4">
                @form.FormGroup().DropDownListFor(x => x.PlaceOfResidenceId, Model.PlacesOfResidence).OptionLabel("Wybierz")
            </div>
        }

        using (panel.BeginFooter())
        {
            @Html.Bootstrap().SubmitButton().Text("Zapisz i przejdź do wypełniania ankiet").PrependIcon(FontAwesome.arrow_right).Style(ButtonStyle.Primary)
        }
    }

    @Html.Bootstrap().ValidationSummary()
}