@model JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Survey.IntervieweeViewModel

@{
    ViewBag.Title = "Informacje podstawowe";
}

<br />

@using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
{
    using (panel.BeginHeading())
    {
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span> Drogi respondencie!</span>
    }

    using (panel.BeginBody())
    {
        <p style="font-size: larger; font-weight: bold;">
            Jestem studentką pierwszego roku pielęgniarstwa studiów magisterskich na Uniwersytecie im Piastów Śląskich we Wrocławiu i prowadzę badania na temat wpływu poczucia koherencji na jakość życia pielęgniarek.
        </p>
        <p style="font-size: larger; font-weight: bold;">
            Cała anonimowa ankieta obejmuje 3 krótkie standaryzowane kwestionariusze, których wypełnienie  zajmie Pani/ Panu  nie więcej niż 15 minut.
        </p>
        <p style="font-size: larger; font-weight: bold;">
            Dziękuję za poświęcony czas.
        </p>
    }
}

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    @Html.AntiForgeryToken()

    using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
    {
        using (panel.BeginHeading())
        {
            <i class="fa fa-id-card" aria-hidden="true"></i>
            <span> Informacje podstawowe</span>
        }

        using (panel.BeginBody())
        {
            <div class="row">
                <div class="col-sm-4">
                    @form.FormGroup().DropDownListFor(x => x.SexId, Model.Sexes).OptionLabel("Wybierz").PrependIcon(FontAwesome.venus_mars)
                </div>
                <div class="col-sm-4">
                    @form.FormGroup().TextBoxFor(x => x.Age).PrependIcon(FontAwesome.user_circle)
                </div>
                <div class="col-sm-4">
                    @form.FormGroup().DropDownListFor(x => x.SeniorityId, Model.Seniorities).OptionLabel("Wybierz").PrependIcon(FontAwesome.user_md)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @form.FormGroup().DropDownListFor(x => x.EducationId, Model.Educations).OptionLabel("Wybierz").PrependIcon(FontAwesome.graduation_cap)
                </div>
                <div class="col-sm-4">
                    @form.FormGroup().DropDownListFor(x => x.PlaceOfResidenceId, Model.PlacesOfResidence).OptionLabel("Wybierz").PrependIcon(FontAwesome.building)
                </div>
                <div class="col-sm-4">
                    @form.FormGroup().DropDownListFor(x => x.MartialStatusId, Model.MartialStatuses).OptionLabel("Wybierz").PrependIcon(FontAwesome.users)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @form.FormGroup().DropDownListFor(x => x.MaterialStatusId, Model.MaterialStatuses).OptionLabel("Wybierz").PrependIcon(FontAwesome.money)
                </div>
            </div>
        }

        using (panel.BeginFooter())
        {
            @Html.Bootstrap().SubmitButton().Text("Zapisz i przejdź do wypełniania ankiet").AppendIcon(FontAwesome.arrow_right).Style(ButtonStyle.Success)
        }
    }

    @Html.Bootstrap().ValidationSummary()
}