@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (var form = Html.Bootstrap().Begin(new Form(MVC.Account.Account.LogOff()).Id("formLogOut")))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), MVC.Account.Manage.Index())
            </li>
            <li>
                @Html.SubmitLink("Wyloguj", "formLogOut")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", MVC.Account.Account.Register())</li>
        <li>@Html.ActionLink("Logowanie", MVC.Account.Account.Login())</li>
    </ul>
}